<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Gunswap Juggling</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>

<div class="container">

	<a href="/about"><h1 style="display:inline;">Gunswap</h1></a>
	<h4 style="display:inline;">A juggling animator</h4>
	<hr/>