<div id="aboutMenu" class="controlDiv">
	<p>Learn more about gunswap at the <a href="/about">project page</a>.</p>
	<p>Found a bug or have an enhancement idea? <a href="https://github.com/yDgunz/gunswap/issues/new">Open a ticket in Github</a> or email me at <a href="mailto:gunswapjuggling@gmail.com">gunswapjuggling@gmail.com</a>.</p>
	<p>Below are some examples, click one to play the animation.</p>
	<div id="exampleSiteswaps" style="width:100%;overflow-y:auto;">
		<ul id="examplesList" class="list"></ul>
	</div>
</div>