<div id="aboutMenu" class="controlDiv">
	<p>Learn more about gunswap at the <a href="/gunswap/index.html">project page</a>.</p>
	<p>Check out the <a href="/gunswap/SiteswapGraph.html">siteswap graph animator</a>.</p>
	<p>Below are some examples, click one to play the animation.</p>
	<div id="exampleSiteswaps" style="width:100%;overflow-y:auto;">
		<ul id="examplesList" class="list"></ul>
	</div>
</div>