<div id="animatorControlsMenu" class="controlDiv">								
	
	<!-- ANIMATOR CONTROLS -->
	<div>
		<button onclick="zoomIn();">Zoom In</button>
		<button onclick="zoomOut();">Zoom Out</button>
	</div>
	<br/>
	<div>
		<label for="cameraMode">Camera</label>
		<select id="cameraMode" class="control" onchange="showHideCameraCustomPosition();updateCameraMode();">
			<option value="sky">Sky</option>
			<option value="juggler">Juggler</option>
			<option value="custom">Custom</option>
		</select>
		<span id="cameraCustomPositionContainer" style="display:none;">
			<input id="cameraCustomPosition" style="width:100px;" value="1,1,-1">
			<button onclick="updateCameraMode();">Update</button>
		</span>
	</div>			
	<div>
		<label for="animationSpeed">Speed</label>
		<input type="range" class="control" onchange="updateAnimationSpeed();" id="animationSpeed" min="0" max="1" value=".6" step=".01"></input>
	</div>
	<div>
		<label for="showPropPathsCheckbox">Show Paths</label>
		<input type="checkbox" onchange="updateDisplayPropPaths();" id="showPropPathsCheckbox"></input>
	</div>
	<p>Click/drag to rotate, scroll to zoom.</p>
	<p>If animation slows down, refresh page.</p>
	<p>Move the camera to the desired position and click "Generate GIF" to create a looped GIF for the pattern.</p>
	<button onclick="generateGIF();">Generate GIF</button><br/><br/>
	<progress style="display:none;" id="gifProgress" value="0" max="1"></progress>
	<span id="gifLink"></span>

</div>