<div id="explorerMenu" class="controlDiv">
	<div id="explorerInputs">		
		<div>
			<button id="explorerFindSiteswaps" onclick="findSiteswaps();">Find Siteswaps</button>
		</div>	
		<div style="float:left;width:50%">
			<div>
				<label for="explorerNumProps">Num Props</label>
				<input id="explorerNumProps" value="3"></input>
			</div>
			<div>
				<label for="explorerMaxPeriod">Max Toss</label>
				<input id="explorerMaxPeriod" value="5"></input>
			</div>
			<div>
				<label for="explorerMaxSiteswaps">Max Siteswaps</label>
				<input id="explorerMaxSiteswaps" value="100"></input>
			</div>
		</div>
		<div style="float:left;width:50%;">
			<div>
				<label for="explorerIncludeExcited">Excited</label>
				<input id="explorerIncludeExcited" type="checkbox" value="1" checked></input>
			</div>
			<div>
				<label for="explorerIncludeMultiplex">Multiplex</label>
				<input id="explorerIncludeMultiplex" type="checkbox" value="1"></input>
			</div>
			<div>
				<label for="explorerSync">Sync</label>
				<input id="explorerSync" type="checkbox" value="0"></input>
			</div>				
		</div>
	</div>
	<div id="generatedSiteswaps" style="width:100%;overflow-y:auto;">
		<ul id="siteswapsList" class="list">
		</ul>
	</div>
</div>