<div id="nav">
	<ul>
		<li><a id="animator" onclick="displayMenu('animator');"><span class="glyphicon glyphicon-play"></span> Play</a></li>
		<li><a id="pattern" onclick="displayMenu('pattern');"><span class="glyphicon glyphicon-cog"></span> Controls</a></li>
		<li><a id="animatorControls" onclick="displayMenu('animatorControls');"><span class="glyphicon glyphicon-facetime-video"></span> Camera</a></li>
		<li><a id="explorer" onclick="displayMenu('explorer');"><span class="glyphicon glyphicon-search"></span> Explorer</a></li>
		<% if (isLoggedIn) { %>
			<li><a id="saved" onclick="displayMenu('saved');"><span class="glyphicon glyphicon-save"></span> Saved</a></li>
		<% } else { %>
			<li><a id="login" href="/login"><span class="glyphicon glyphicon-user"></span> Login/Signup</a></li>
		<% } %>
		<li><a id="about" onclick="displayMenu('about');"><span class="glyphicon glyphicon-question-sign"></span> Help</a></li>
	</ul>
</div>