<div id="patternMenu" class="controlDiv">
	<!-- BASIC -->
	<button onclick="go();">Juggle!</button>		
	<br/><br/>
	<div id="errorMessage" class="alert" style="display:none;">
		<span class="glyphicon glyphicon-exclamation-sign"></span>	
		<span id="message">	
	</div>
	<div>
		<label for="siteswap">Siteswap</label>
		<input id="siteswap" class="control" value="3" onchange="updateInputSiteswap();"></input>
	</div>
	<div>
		<label for="prop">Prop</label>
		<select id="prop" class="control" onchange="updateDrawHandsForProp();updateInputProp();">
			<option value="ball">Ball</option>
			<option value="club">Club</option>
			<option value="ring">Ring</option>
		</select>
	</div>
	<div>
		<label for="dwellPath">Dwell</label>
		<select id="dwellPath" class="control" onchange="updateInputDwellPath();">
			<option value="(30)(10)">Cascade</option>
			<option value="(10)(30)">Reverse Cascade</option>
			<option value="(30)(10).(10)(30)">Shower</option>
			<option value="(-20)(20).(20)(-20)">Windmill</option>
			<option value="(2.5)(-30).(-2.5)(30).(0)(-30)">Mills Mess</option>
		</select>
	</div>
	<div>
		<label for="beatDuration">Height</label>
		<input id="beatDuration" class="control" type="range" min=".05" max=".5" value=".28" step=".005" onchange="updateInputBeatDuration();"></input>
	</div>
	<div>
		<label for="drawHands">Show Hands</label>
		<input id="drawHands" type="checkbox" checked onchange="updateInputDrawHands();"></input>
	</div>

	<!-- ADVANCED -->		
	<p>Advanced | <a href="/about/syntax">Syntax Help</a></p>
	<textarea id="inputsAdvanced" rows="8" cols="40" style="font-family:monospace;"></textarea><br/>
	<br/>
	<% if(isLoggedIn) { %>
		<div>
			<label for="savedName">Save As</label>
			<input id="savedName" class="control" placeholder="Name"></input>
			<button onclick="saveCurrentSiteswap();">Save</button>
			<span id="saveSuccess" class="success" style="display:none;">Saved!</span>
			<span id="saveFailure" class="danger" style="display:none;">Error - could not save pattern</span>
		</div>	
	<% } %>
</div>