<% if(isLoggedIn) { %>
	<div id="savedMenu" class="controlDiv">				
		<div id="savedSiteswaps" style="width:100%;overflow-y:auto;">
			<ul id="savedList" class="list">				
			</ul>
		</div>
	</div>
<% } %>	