<div id="stateDiagramMenu" class="controlDiv">
    <div id="stateDiagramTableContainer" style="overflow-y:auto;">
        <table id="stateDiagramTable" style="width:100%;text-align:center;">
        </table>
    </div>
</div>