<!doctype html>
<html>

<head>

	<title>Gunswap Juggling</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	
	<!-- only use minified JS in PRD environment -->
	<% if (environment == "DEV") { %>

		<script src="js/lib/jquery-1.10.2.min.js"></script>
		<script src="js/lib/jquery-ui.min.js"></script>
		<script src="js/lib/omggif.js"></script>
		<script src="js/lib/three.min.js"></script>
		<script src="js/lib/yaml.min.js"></script>
		<script src="js/util.js"></script>
		<script src="js/Bezier.js"></script>
		<script src="js/BounceGA.js"></script>
		<script src="js/Siteswap.js"></script>
		<script src="js/SiteswapAnimator.js"></script>
		<script src="js/SiteswapGraph.js"></script>
		<script src="js/index.js"></script>

	<% } else { %>

		<script src="js/build/gunswap.min.js"></script>

	<% } %>
	
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/gunswap.css">

</head>

<body>

<div id="controlsContainer" style="float:left;">
	
	<% include menus/nav.ejs %>

	<div id="animatorMenu" class="controlDiv">
	</div>
	
	<% include menus/pattern.ejs %>

	<% include menus/animatorControls.ejs %>

	<% include menus/explorer.ejs %>

	<% include menus/saved.ejs %>
	
	<% include menus/about.ejs %>

</div>

<div id="animatorCanvasContainer" style="float:left;">
	<input class="animSlider" id="stepSlider" type="range" min="0" max="1" step=".005" onclick="window.animator.usingSlider=true;"></input>
</div>

</body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67932517-1', 'auto');
  ga('send', 'pageview');

</script>

</html>