html {
	overflow: hidden;
}
body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}
label { 
	display: block; 
	width: 100px; 
	float: left; 
}
textarea {
		width: 100%;
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
}
#patternMenu div {
	padding: 5px;
}
#patternMenu {
	overflow-y:auto;
}
.control {
	width: 200px;
}
#animatorControlsMenu {
	overflow-y: auto;
}
#animatorControlsMenu div {
	padding: 5px;
}
#explorerMenu div {
	padding: 5px;
}
#explorerMenu input {
	width:40px;
}
#examplesMenu ul {
	list-style-type: none;
}
#examplesMenu a {
	text-decoration: none;
}
#examplesMenu a:hover {
	text-decoration: underline;
}
.patternLink {
	display: block;
	text-align: center;
	border-bottom: 1px solid #999;
	text-decoration: none;		
}
.patternLink:hover {
	background-color: #ddd;
	text-decoration: none;	
}
.list {
	list-style: none;
	font-size: 20px;
	padding-left: 0px;
}
#nav ul {
	display: table;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
#nav ul li {
	display: table-cell;
}
.selected {
	background: #FFF;
	color: black;
}	
.unselected {
	background: #000;
	color: white;
}
.unselected:hover {
	background: #555;
	color: white;
}
#nav a {
	display: block;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
	margin: 0px;		
	padding: 5px;		
	cursor: pointer;
	text-decoration: none;
}
.controlDiv {
	padding: 10px;
}	
.alert {
	color: #a94442;
	border-color: #ebccd1;
	background-color: #f2dede;
}
.success {
	color: white;
	background-color: #5cb85c; 
}
.deleteLink {
	color: #a94442;
}

/* range input styling from http://danielstern.ca/range.css/#/ */

input[type=range].animSlider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
}
input[type=range].animSlider:focus {
  outline: none;
}
input[type=range].animSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].animSlider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 32px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].animSlider:focus::-webkit-slider-runnable-track {
  background: rgba(64, 64, 64, 0.5);
}
input[type=range].animSlider::-moz-range-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].animSlider::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  height: 32px;
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].animSlider::-ms-track {
  width: 100%;
  height: 32px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].animSlider::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}
input[type=range].animSlider::-ms-fill-upper {
  background: rgba(0, 0, 0, 0.5);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}
input[type=range].animSlider::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
  border: 0.4px solid rgba(0, 30, 0, 0.57);
  width: 17px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 32px;
}
input[type=range].animSlider:focus::-ms-fill-lower {
  background: rgba(0, 0, 0, 0.5);
}
input[type=range].animSlider:focus::-ms-fill-upper {
  background: rgba(64, 64, 64, 0.5);
}
#stateDiagramMenu table, th, td { 
  border: 1px solid black;
}