body {
  padding-top: 55px;
}

.sidebar {
  position: fixed;
  top: 55px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 10px 5px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar .nav-link {
  font-size: .8rem;
  padding-left: 10px;
  padding-top: 5px;
}

.sidebar a {
  color: black;
}

.sidebar a:hover {
  font-weight: bold;
  text-decoration: none;
  color: black;
}