<% include ../partials/header.ejs %>

<div style="text-align:center;">
    <h3>3 Ball Cascade</h3>
    <img src="../img/tutorials/3ballcascade/3ballCascade.gif" width="300px" style="border: 1px solid black"/>
    <img src="../img/tutorials/3ballcascade/3ballCascadePOV.gif" width="300px" style="border: 1px solid black"/>
</div>

<hr/>

<p>Practice the 2 ball exchange.</p>

<div style="text-align:center;">
    <img src="../img/tutorials/3ballcascade/2ballExchange.gif" width="300px" style="border: 1px solid black"/>
</div>

<p>Focus on making scoops.</p>

<div style="text-align:center;">
    <img src="../img/tutorials/3ballcascade/2ballExchangeWithPaths.gif" width="300px" style="border: 1px solid black"/>
</div>

<p>Try to keep the pattern in 1 plane.</p>

<div style="text-align:center;">
    <img src="../img/tutorials/3ballcascade/3ballCascadeSideView.gif" width="300px" style="border: 1px solid black"/>
</div>


<% include ../partials/footer.ejs %>