<% include ../partials/header.ejs %>

<div style="text-align:center;">
    <h3>Columns</h3>
    <img src="../img/tutorials/columns/columns.gif" width="300px" style="border: 1px solid black"/>
    <img src="../img/tutorials/columns/columnsPOV.gif" width="300px" style="border: 1px solid black"/>
</div>

<hr/>

<p>Practice 2 in 1 hand (both sides).</p>

<div style="text-align:center;">
    <img src="../img/tutorials/columns/2ball1Hand.gif" width="300px" style="border: 1px solid black"/>
</div>

<p>Practice 2 in 1 hand columns (both sides).</p>

<div style="text-align:center;">
    <img src="../img/tutorials/columns/2ball1HandColumns.gif" width="300px" style="border: 1px solid black"/>
</div>

<p>Toss up 2 balls same height.</p>

<div style="text-align:center;">
    <img src="../img/tutorials/columns/columns2ball.gif" width="300px" style="border: 1px solid black"/>
</div>


<% include ../partials/footer.ejs %>