<% include ../partials/header.ejs %>

<h3>Features</h3>

<p>
	<ul>
		<li><a href="http://imgur.com/a/3QcTQ">Example GIFs</a></li>
		<li>Animate juggling patterns using standard vanilla, multiplex and synchronous siteswap notation.</li>
		<li>View patterns from sky camera or first person view. Rotate/zoom camera using mouse.</li>
		<li>Props include balls, clubs and rings. Change colors, size and bounciness.</li>
		<li>Customizable hand movement to support patterns like mills mess and factory.</li>
		<li>Passing with ability to define each juggler's position and rotation.</li>
		<li>Hand animation with modifiers for claw and penguin.</li>
		<li>Bounce juggling with multiple bounces, custom surfaces and multiple surfaces.</li>
		<li>Dwell duration modifier to stagger tosses for more realistic patterns.</li>
		<li>Spin modifier to allow for flats, doubles, etc.</li>
		<li>GIF export.</li>
		<li>Siteswap generator with support for multiplex and synchronous.</li>
		<li>Signup/login for ability to save patterns.</li>
	</ul>
</p>

<% include ../partials/footer.ejs %>