<% include ../partials/header.ejs %>

<h2><a href="../" class="btn btn-primary btn-lg">Run Animator</a></h2>

<br/>

<ul>
	<li><a href="https://github.com/yDgunz/gunswap/">Source Code</a></li>
	<li><a href="../about/features">Feature list</a></li>
	<li><a href="../about/syntax">Advanced Mode Syntax Guide</a></li>
	<li><a href="../SiteswapGraph.html">Siteswap Generator/Visualizer</a></li>
</ul>

<p>Found a bug or have an enhancement idea? <a href="https://github.com/yDgunz/gunswap/issues/new">Open a ticket in Github</a> or email me at <a href="mailto:gunswapjuggling@gmail.com">gunswapjuggling@gmail.com</a>.</p>

<hr/>
<h4>Tutorials</h4>

<ul>
	<li><a href="../tutorials/3ballcascade">3 Ball Cascade</a></li>
	<li><a href="../tutorials/columns">Columns</a></li>
</ul>

<hr/>
<h4>Articles</h4>

<ul>
	<li><a href="../about/parsingSiteswap">Parsing Siteswap</a></li>
	<li><a href="../about/validatingSiteswap">Validating Siteswap</a></li>
	<li><a href="../about/elbowPositions">Finding Elbow Positions</a></li>
	<li><a href="../about/geneticAlgorithm">Genetic Algorithm for Finding Bounce Paths</a></li>
	<li><a href="../about/findingSiteswaps">Finding Siteswaps</a></li>
</ul>

<hr/>
<h4>Additional Resources</h4>

<p>Juggling</p>
<ul>  		
	<li><a href="https://www.reddit.com/r/siteswap/wiki/index#wiki_siteswap.org">Siteswap.org</a> - for more information about siteswap and juggling science, math and technology</li>
	<li><a href="http://jugglinglab.sourceforge.net/">Juggling Lab</a></li>
	<li><a href="http://www.juggle.org/">International Juggler's Association</a></li>
	<li><a href="https://www.reddit.com/r/juggling/">/r/juggling</a></li>
	<li><a href="http://www.jugglingedge.com/">Juggling Edge</a></li>      
</ul>

<p>Software</p>
<ul>
	<li>Frontend
		<ul>
			<li><a href="http://threejs.org/">Three.js</a> - 3D graphics</li>
			<li><a href="https://github.com/deanm/omggif">omggif</a> - GIF generation</li>
			<li><a href="http://getbootstrap.com/">Bootstrap</a> - styling</li>
			<li><a href="https://jquery.com/">jQuery</a> - misc. JS tasks</li>
			<li><a href="https://www.npmjs.com/package/yamljs">yamljs</a> - YAML parsing</li>
		</ul>
	</li>
	<li>Backend
		<ul>
			<li><a href="https://nodejs.org/en/">Node.js</a></li>
			<li><a href="https://www.mongodb.com/">MongoDB</a> - database</li>
			<li><a href="http://mongoosejs.com/">Mongoose</a> - Mongo object modeling</li>
			<li><a href="https://expressjs.com/">Express</a> - Node web framework</li>
			<li><a href="http://passportjs.org/">Passport</a> - authentication</li>
			<li><a href="https://github.com/yDgunz/gunswap/blob/master/package.json">And more...</a></li>
		</ul>
	</li>
	<li>Misc. tools
		<ul>
			<li><a href="http://www.heroku.com">Heroku</a> - application hosting</li>
			<li><a href="https://mlab.com/">mLab</a> - MongoDB hosting</li>
			<li><a href="http://www.github.com">GitHub</a> - source code hosting</li>
			<li><a href="http://gruntjs.com/">Grunt</a> - build tasks</li>
			<li><a href="https://mochajs.org/">Mocha</a> - writing tests</li>
			<li><a href="https://travis-ci.org/yDgunz/gunswap">Travis CI</a> - running tests</li>
		</ul>
	</li>

</ul>

<% include ../partials/footer.ejs %>